<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="cn.tedu.store.mapper.GoodsMapper">
	<!-- 根据id修改数量 -->
	<!-- void updateNumById(@Param("id") String id,
			@Param("num") Integer num); -->
	
	<update id="updateNumById">
		update 
			t_goods
		set 
			num=#{num}
		where
			id=#{id}
	</update>
	
	<!-- 通过id查询商品信息 -->
	<!-- Goods selectGoodsById(Integer id); -->
	<select id="selectGoodsById" 
	      resultType="cn.tedu.store.bean.Goods">
	select
		id,
		category_id as categoryId,
		item_type as itemType,
		title,
		sell_point as sellPoint,
		price,
		num,
		barcode,
		image,
		status,
		priority,
		created_user as createdUser,
		created_time as createdTime,
		modified_user as modifiedUser,
		modified_time as modifiedTime
	from
		t_goods
	where
		id=#{id}
	
	      
	</select>
	
	<!-- 查询记录数 -->
	<!-- Integer selectCount(Integer categoryId); -->
	<select id="selectCount" resultType="java.lang.Integer">
		select
			count(*)
		from
			t_goods
		where
			category_id = #{categoryId}
	</select>
	
	
	<!-- 查询热门商品信息 -->
	<!-- 
	List<Goods> select(
			@Param("categoryId") Integer categoryId,
			@Param("offset") Integer offset,
			@Param("count") Integer count);
	-->
	
	<select id="select" resultType="cn.tedu.store.bean.Goods">
	select
		id,
		category_id as categoryId,
		item_type as itemType,
		title,
		sell_point as sellPoint,
		price,
		num,
		barcode,
		image,
		status,
		priority,
		created_user as createdUser,
		created_time as createdTime,
		modified_user as modifiedUser,
		modified_time as modifiedTime
	from
		t_goods
	where
		category_id=#{categoryId}
		and num>0 and status=1
	order by 
		priority desc
	limit #{offset},#{count}
	</select>
	
</mapper>

















